/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-ppmcb-new-quote {
  text-align: center;
}
.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-inner blockquote {
  margin:0px;
  border: none;
}
.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-inner{
    max-width: 700px;
    margin: 0 auto;
}
.wp-block-ppmcb-new-quote blockquote::before {
  display:none;
}
.wp-block-ppmcb-new-quote blockquote p::before {
    content: '“';
}

.wp-block-ppmcb-new-quote blockquote p::after {
    content: '”';
}
.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-inner blockquote p.citationtext-wrapper {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}

.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-inner .authorquote-wrapper {
  font-weight: bold;
}

.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-prefix,.wp-block-ppmcb-new-quote .wp-block-ppmcb-new-quote-suffix {
    background: #EC573D;
    border-radius: 17px;
    height: 4px;
    width: 135px;
    display:block;
    margin: 18px auto;
}
