/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

div.wp-block-ppmcb-edit-summary {
  background: #EEF3F8;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
}
div.wp-block-ppmcb-edit-summary-inner {
  border-left: 4px #EC573D solid;
  padding-left: 16px;
}
div.wp-block-ppmcb-edit-summary-inner h4 {
  font-family: Inter;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #EC573D;
  margin:0px;
  margin-bottom:12px;
}
div.wp-block-ppmcb-edit-summary-inner p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin:0px;
}