/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


div.wp-block-ppmcb-summary {
  background: #EEF3F8;
  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 24px;
}
div.wp-block-ppmcb-summary .wp-block-ppmcb-summary-inner {
  border-left: 4px #EC573D solid;
  padding-left: 16px;
}
div.wp-block-ppmcb-summary h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  color: #EC573D;
  margin:0px;
  margin-bottom:12px;
}
div.wp-block-ppmcb-summary p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  margin:0px;
}